<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game.user_id %>
</p>

<p>
  <strong>Number frames:</strong>
  <%= @game.number_frames %>
</p>

<p>
  <strong>Total score:</strong>
  <%= @game.total_score %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
